<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbkoVx1e9NV9v9Af2Gf9sc95RIn1rEmpY</string>
	<key>GCM_SENDER_ID</key>
	<string>54095514810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.businesLogicComponent</string>
	<key>PROJECT_ID</key>
	<string>fluttercoder-15a98</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercoder-15a98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54095514810:ios:4097c99a767baca2120683</string>
	<key>DATABASE_URL</key>
	<string>https://fluttercoder-15a98-default-rtdb.firebaseio.com</string>
</dict>
</plist>